.table{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
    width: 90em;
    color:white;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e8f0;
}
.header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 180px;
    text-align: left;
    border: none;
    padding: 16px 24px;
    margin: 0;
    background-color: #f8fafc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.headerCell{
    color:black;
    font-weight: 500;
}
.container {
    /* min-height: 100vh; */
    width: 100%;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}

.rowButton{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 80px;
    padding: 16px 24px;
    text-align: left;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    color: black;
    margin: 0
}
.cell{
    color: '#1e293b';
    font-Weight: '500';
}
.chevronCell{
    display: flex;
    justify-content:flex-end;
    align-items: center;
  }
.chevron{
    width: 20px;
    height: 20px;
    color: #64748b;
    transition: transform 0.2s;
  }
.expandedContent{
    background-color: #f8fafc;
    padding: 20px 24px;
    border-top: 1px solid #e2e8f0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
    display: none;
  }
.expandedContent.open{
    display:block;
    max-height: none;
}
.detailsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
.detailItem{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    color:black;
  }
.detailLabel{
    font-size: 14px;
    font-weight: 500;
    color: #334155;
    margin: 0 0 4px 0;
  }
.detailValue{
    font-size: 14px;
    color: #64748b;
    margin: 0;
}
.transcriptValue{
    font-size: 14px;
    color: #64748b;
    margin: 0;
    white-space: pre-line;
    text-align: left;
}
.transcriptInfo{
    width: 100%;
    display: flex;
    flex: column;
    overflow: hidden;
}
.chartWrapper{
    width: 35rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e8f0;
    position: fixed;
    align-items: center;
    justify-content: center;
}
.pie{
    margin-left: auto;
    margin-right: auto;
}